.container{
    height: 80vh;
    max-width: 600px;
    margin: 1rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.container h1 {
    text-align: center;
    color: #333;
}
.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.inputBar {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addBtn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #0056b3;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left:solid 1px #ff000000
}

.container .rmvBtn {
             padding: 5px 10px;
            margin-left: 10px;
            border: none;
            border-radius: 4px;
            background-color: #e61a2e;
            color: white;
            cursor: pointer;
}
.container .editBtn {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff9100;
    color: white;
    cursor: pointer;
}
.container .editBtn:hover {
    background-color: #ff6a00;
}
.container .rmvBtn:hover {
    background-color: #c82333;
}
.container .saveBtn {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.container .saveBtn:hover {
    background-color: #218838;
}
.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    text-align: center;
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px;
    background-color: #f8d7da;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
/* responsive design for mobile screens */
@media (max-width: 600px) {
    .container {
        padding: 10px;
        margin: 1rem;
    }

        .inputBar {
        width: calc(100% - 20px);
    }

    .addBtn {
        /* width: 1rem; */
        margin: 5px ;
    }

    .container li {
        flex-direction: row;
        align-items: flex-start;
        margin: 0.3rem;
    }

    .container li .addBtn {
        width: 100%;
        margin-top: 5px;
    }
}